.hero {
  position: relative;
  background: url('https://i.pinimg.com/1200x/fb/94/36/fb9436067d5a4e48a899e3480bc0a890.jpg') no-repeat center center / cover;
  height: 85vh;
  color: white;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.hero-content {
  z-index: 2;
}
