#dashboard{
  background-color: #ffffff !important;
}

.app-container {
  display: flex;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

.sidebar {
  width: 240px;
  background: #fff;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.logo .highlight {
  color: #000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 1rem;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar a:hover {
  background: #f2f2f2;
}

.sidebar a.active {
  font-weight: bold;
  color: #1890ff;
  background: #e6f4ff;
}

.content {
  margin-left: 240px;
  padding: 1.5rem;
  flex-grow: 1;
  background: #ffffff;
  height: max-content;
}
